<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="QuotaApp Suite">
    <listeners>
        <listener class-name="com.g2academy.utilities.Listeners"></listener>
    </listeners>
    <test name="Login Menu Test">
        <classes>
            <class name="com.g2academy.testcases.loginmenu.TC_Login" />
            <class name="com.g2academy.testcases.loginmenu.TC_Register" />
            <class name="com.g2academy.testcases.loginmenu.TC_ForgotPassword" />
        </classes>
    </test>
    <test name="Home Menu Test">
        <classes>
            <class name="com.g2academy.testcases.mainmenu.home.TC_PaketDataList" />
            <class name="com.g2academy.testcases.mainmenu.home.TC_PaketDataPurchase" />
        </classes>
    </test>
    <test name="History Menu Test">
        <classes>
            <class name="com.g2academy.testcases.mainmenu.history.TC_PaketDataHistory" />
        </classes>
    </test>
    <test name="Profile Menu Test">
        <classes>
            <class name="com.g2academy.testcases.mainmenu.profile.TC_EditUser" />
            <class name="com.g2academy.testcases.mainmenu.profile.TC_ChangePassword" />
            <class name="com.g2academy.testcases.mainmenu.profile.TC_Logout" />
        </classes>
    </test>
</suite>